@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap')
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Poppins", sans-serif;
}  
.tabl{
    width: 100%;
}
.tabl_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
    background-color: rgb(240, 240, 240);
}
.tabl_header p{
    color: rgb(45, 10, 78);
}
button{
    outline: none;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    padding: 10px;
    background-color:rgb(45, 10, 78);
    color: #ffffff;
}
td button:nth-child(1){
    background-color: green;

}
td button:nth-child(2){
    background-color: red;
}
.Add_Members{
    padding: 10px 20px;
    color: white;
    background-color: rgb(45, 10, 78);
}
input{
    padding: 10px 20px;
    margin: 0 10px;
    outline: none;
    border: 1px solid rgb(45, 10, 78);
    border-radius: 6px;
    color: rgb(45, 10, 78);

}
.tabl_section{
    height: 560px;
    overflow: auto;
}
table{
    width: 100%;
    table-layout: fixed;
     min-width:900px;
     border-color: collapse;

}
thead th{
    position: sticky;
    top: 0;
    background-color: #f6f9fc;
    color: #8493a5;
    font-size: 15px;
}
th,td{
border-bottom: 1px solid #dddddd;
padding: 10px 20px;
word-break: break-all;
text-align: center;
}
td img{
    height: 60px;
    width: 60px;
    object-fit: cover;
    border-radius: 15px;
    border: 5px solid #ced0d2;
}
tr:hover td{
    color: rgb(45, 10, 78);
    cursor: pointer;
    background-color: #f6f9fc;
}
.pagination{
display: flex;
justify-content: flex-end;
width: 100%;
padding: 10px 20px;
background-color: #8493a5;
}
.pagination div{
    padding: 10px;
    border: 2px solid #d5d0d0;
    height: 40px;
    width: 40px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0298cd;
    color: #ffffff;
    box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.75);
    margin: 0 5px;
    cursor: pointer;

}
::placeholder{
    color: rgb(45, 10, 78);
}
::webikit-scrollbar{
    height: 5px;
    width: 5px;
}
::-webkit-scrollbar-track{
box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
::-webkit-scrollbar-thumb{
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);

}